@charset "utf-8";
@media screen and (max-width: 1280px) {
  #section1 .con .profile p {
    font-size: 16px;
  }
}
@media screen and (max-width: 960px) {
  #section1 .con .photo h3 {
    font-size: 18px;
  }
  #section1 .con .photo {
    display: none;
  }
  #section11 .con ul li p {
    font-size: 20px;
  }
  #section2 .con .txt .detail {
    flex-direction: column;
  }
  #section3 .con .txt .detail {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  #section1,
  #section11,
  #section2,
  #section3 {
    height: auto !important;
  }
  #section1 .con .photo h3 {
    font-size: 18px;
  }
  #section1 .con {
    flex-direction: column;
  }
  #section1 .con .photo {
    display: block;
  }
  #section1 .con .photo h3 {
    font-size: 16px;
  }
  #section11 .con ul li p {
    font-size: 16px;
  }
  #section2 .con .txt .brand p,
  #section3 .con .txt .brand p {
    width: auto;
  }
  #section3 {
    margin: 50px 0;
  }
  #section2 .con,
  #section3 .con {
    flex-direction: column;
  }
  #section4 .con {
    flex-direction: column;
    padding: 0;
  }
  #section4 .con .left .photo {
    gap: 20px;
  }
  #section4 .con .left .photo img {
    width: 100%;
  }
}
